[submodule "src/lib/liblog"]
	path = src/lib/liblog
	url = https://github.com/mambrus/liblog
[submodule "src/lib/libmlist"]
	path = src/lib/libmlist
	url = https://github.com/mambrus/libmlist
[submodule "src/lib/libmtime"]
	path = src/lib/libmtime
	url = https://github.com/mambrus/libmtime
[submodule "wiki/wikidata"]
	path = wiki/wikidata
	url = https://github.com/mambrus/etrace_wiki
